<div class="container">
  <div class="row align-items-center" style="height: 80vh;">
    <div class="col-md-8 border shadow p-4 m-auto">
      <h1 class="text-center">Inicio de sesion</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
      </form>
    </div>
  </div>
</div>